@use '../../assets/common.scss';

.ability {
  display: grid;
  grid-template-columns: 100% 0 0 0;
  grid-template-rows: 100%;
  position: relative;
  z-index: 0;
  justify-items: center;
  align-content: center;

  .ability-box {
    position: relative;
    z-index: 0;
  }

  .ability-label {
    position: relative;
    z-index: 1;
    text-align: center;
    left: -50px;
    top: 0.5em;
    font-size: 0.75em;
  }

  .ability-score {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 3em;
    left: -50px;
    top: 17px;
  }

  .ability-mod {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 73.5px;
    left: -51px;;
  }
}
