@use '../../assets/common.scss';

.ac {
  display: grid;
  grid-template-rows: 100px 0px 0px;
  grid-template-rows: 100%;
  justify-items: center;
  align-content: center;
  position: relative;
  z-index: 0;

  .ac-box {
    position: relative;
    z-index: 0;

  }

  .ac-label {
    position: relative;
    z-index: 1;
    font-size: 1em;
    text-align: center;
    top: -135px;
  }

  .ac-score {
    position: relative;
    z-index: 1;
    font-size: 2em;
    text-align: center;
    top: -135px;
  }
}
