/* You can add global styles to this file, and also import other style files */
html {
  color: white;
  background-color: rgb(37, 37, 37);
}
.inverted {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

footer {
  color: rgb(80, 80, 80);
  text-align: center;
  position: absolute;
  bottom: 1px;
  z-index: -1;
}
