/* You can add global styles to this file, and also import other style files */
html {
  color: white;
  background-color: rgb(37, 37, 37);
  height: 100vh;
}
.inverted {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
